.TimeInterval {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  gap: 20px;
  flex: 1;
}

.TimeInterval .TimeInterval-textfield.TimeInterval-textfield-fullwidth {
  flex: 1 0 100%;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: '100%';
}
.TimeInterval .TimeInterval-textfield.TimeInterval-textfield-narrow {
  width: 80px;
}